



//colors
$main-bg: #401c6d;
$main-cl:#5b25b3;
$main_title_cl:#51218f;
$main_title_dark_cl: #250952;
$sec_dark_cl: #030303;
$sec_light_dark_cl: #4e4e4e;



    $white: #ffffff;
$white-100: #f1f5f9;
$white-200: #fbfbfb;
$white-600: #f0f0f0;
$white-700: #f9f9f9;
$white-800: #e4e9f2;
$white-900: #edf1f7;




// in use
    $black: #000000;
$active_tab: #CCCCCC;
$hovered_tab: #DDDDDD;

$tab-links_border:  4px solid #808080;
$tab_sec-border: 1px solid #aaaaaa;
$tabs_bg: #F1F1F1;


$form-height: 603px;
$tab-nav-height: 43px;
$general_tab_title-lenght: 157px;
$areaTools_tab_title-length: 50px;
$incident_tab_title-length: 140px;
$tab_sec-margin: 1rem 0;


$sec_title_min-width: 80px;
$section-min-height: 44px;
$section-border: 2px solid #000000;
$sec_title_bg_color: #F1F1F1;




$transition-main: all .3s ease-in-out;





