<section>
  <div class="sec_title">
    <h4>Control</h4>
  </div>
  <div class="sec_content">
    <app-searchable-dropdown class="mediumField"
                             (output)="onFieldChange($event)"
                             (onInputStart)="inputStart($event)"
                             [dataType]="dataTypes.orgId"
                             [labelFor]="'cnt_organization'"
                             [title]="'Control Organization'"
                             [fmControl]="cntSectionFmControls.OrgSelect"
                             [dropdownList]="organizations"
                             [lastOption]="lastSelectOption"></app-searchable-dropdown>
    <app-searchable-dropdown class="largeField"
                             (output)="onFieldChange($event)"
                             (onInputStart)="inputStart($event)"
                             [allowAdd]="true"
                             [dataType]="dataTypes.ownerId"
                             [labelFor]="'cnt_owner'"
                             [title]="'Owner'"
                             [fmControl]="cntSectionFmControls.OwnerSelect"
                             [lastOption]="lastSelectOption"
                             [dropdownList]="humanResource$ | async"></app-searchable-dropdown>
    <app-searchable-dropdown class="largeField"
                             (output)="onFieldChange($event)"
                             (onInputStart)="inputStart($event)"
                             [allowAdd]="true"
                             [dataType]="dataTypes.mngId"
                             [labelFor]="'cnt_manager'"
                             [title]="'Manager'"
                             [fmControl]="cntSectionFmControls.ManagerSelect"
                             [lastOption]="lastSelectOption"
                             [dropdownList]="humanResource$ | async"></app-searchable-dropdown>
    <app-searchable-dropdown class="largeField"
                             (output)="onFieldChange($event)"
                             (onInputStart)="inputStart($event)"
                             [allowAdd]="true"
                             [dataType]="dataTypes.leadId"
                             [labelFor]="'cnt_lead'"
                             [title]="'Lead'"
                             [fmControl]="cntSectionFmControls.LeadSelect"
                             [lastOption]="lastSelectOption"
                             [dropdownList]="humanResource$ | async"></app-searchable-dropdown>

    <app-searchable-dropdown class="tinyField"
                             (output)="onFieldChange($event)"
                             (onInputStart)="inputStart($event)"
                             [dataType]="dataTypes.prGroup"
                             [labelFor]="'cnt_priorityGr'"
                             [title]="'Priority Group'"
                             [fmControl]="cntSectionFmControls.PriorityGrSelect"
                             [dropdownList]="priorityGroup"></app-searchable-dropdown>
    <app-searchable-dropdown class="smallField"
                             (output)="onFieldChange($event)"
                             (onInputStart)="inputStart($event)"
                             [dataType]="dataTypes.prSubGroup"
                             [labelFor]="'cnt_prioritySubGr'"
                             [title]="'Priority Sub Group'"
                             [fmControl]="cntSectionFmControls.PrioritySubGrSelect"
                             [dropdownList]="prioritySubGroup"></app-searchable-dropdown>
    <app-searchable-dropdown class="smallField"
                             (output)="onFieldChange($event)"
                             (onInputStart)="inputStart($event)"
                             [dataType]="dataTypes.percent"
                             [labelFor]="'cnt_percentComplete'"
                             [title]="'Percent Complete'"
                             [fmControl]="cntSectionFmControls.PercentComplete"></app-searchable-dropdown>

    <app-searchable-dropdown class="smallField"
                             (output)="onFieldChange($event)"
                             (onInputStart)="inputStart($event)"
                             [dataType]="dataTypes.sts"
                             [labelFor]="'cnt_status'"
                             [title]="'Status'"
                             [fmControl]="cntSectionFmControls.StatusSelect"
                             [lastOption]="lastSelectOption"
                             [dropdownList]="status"></app-searchable-dropdown>
    <app-searchable-dropdown class="largeField"
                             (output)="onFieldChange($event)"
                             (onInputStart)="inputStart($event)"
                             [dataType]="dataTypes.stsReason"
                             [labelFor]="'cnt_statusReason'"
                             [title]="'Status Reason'"
                             [fmControl]="cntSectionFmControls.StatusReasonSelect"
                             [lastOption]="lastSelectOption"
                             [dropdownList]="statusReasonList$ | async"></app-searchable-dropdown>
  </div>
  <ng-template [ngIf]="disabled">
    <div class="disabled-overlay"></div>
  </ng-template>
</section>

