<section>
  <div class="sec_title">
    <h4>Control</h4>
  </div>

  <div class="int_sec_val">
<!--    <input #autoInput-->
<!--           nbInput-->
<!--           type="text"-->
<!--           (input)="onChange()"-->
<!--           placeholder="Enter value"-->
<!--           [nbAutocomplete]="auto" />-->

<!--    <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">-->

<!--      <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option">-->
<!--        {{ option }}-->
<!--      </nb-option>-->

<!--    </nb-autocomplete>-->

    <nb-select [size]="'tiny'" placeholder="Select Showcase" [(selected)]="this.formData.OrganizationId">
        <nb-option *ngFor="let org of organizations" [value]="org.ID">{{org.Title}}</nb-option>
      </nb-select>

    <nb-select [size]="'tiny'" placeholder="Select Showcase" [(selected)]="this.formData.OwnerId">
        <nb-option *ngFor="let human of humanResource" [value]="human.ID">{{human.Title}}</nb-option>
      </nb-select>

    <nb-select [size]="'tiny'" placeholder="Select Showcase" [(selected)]="this.formData.ProjectManagerId">
      <nb-option *ngFor="let human of humanResource" [value]="human.ID">{{human.Title}}</nb-option>
    </nb-select>

    <nb-select [size]="'tiny'" placeholder="Select Showcase" [(selected)]="this.formData.ProjectLeadId">
      <nb-option *ngFor="let human of humanResource" [value]="human.ID">{{human.Title}}</nb-option>
    </nb-select>

    <nb-select [size]="'tiny'" placeholder="Select Showcase" [(selected)]="this.formData.ProjectPriorityGroup">
      <nb-option *ngFor="let group of priorityGroup" [value]="group">{{group}}</nb-option>
    </nb-select>

    <nb-select [size]="'tiny'" placeholder="Select Showcase" [(selected)]="this.formData.ProjectPrioritySubGroup">
      <nb-option *ngFor="let sub_group of prioritySubGroup" [value]="sub_group">{{sub_group}}</nb-option>
    </nb-select>

    <input type="text" nbInput  [fieldSize]="'tiny'" [value]="this.formData.PercentComplete">

    <nb-select [size]="'tiny'" placeholder="Select Showcase" [(selected)]="this.formData.StatusId">
        <nb-option *ngFor="let st of status" [value]="st.ID">{{st.Title}}</nb-option>
      </nb-select>

    <nb-select [size]="'tiny'" placeholder="Select Showcase" [(selected)]="this.formData.StatusReasonId">
        <nb-option *ngFor="let stR of statusReason" [value]="stR.ID">{{stR.Title}}</nb-option>
      </nb-select>



  </div>
</section>

