<section>
  <div class="sec_title">
    <h4>Control</h4>
  </div>

  <div class="sec_content">
    <label for="cnt_organization" class="inputLabel">
      <h6> Control Organization</h6>
    <input [formControl]="cntSectionFmControls.OrgSelect"
           [fieldSize]="'tiny'"
           id="cnt_organization"
           nbInput
           type="text"
           placeholder="Enter value"
           [nbAutocomplete]="autoOrg"/>
    <nb-autocomplete #autoOrg>
      <nb-option *ngFor="let org of organizations" [value]="org.Title">
        {{ org.Title }}
      </nb-option>
    </nb-autocomplete>
    </label>
    <label for="cnt_owner" class="inputLabel">
      <h6>Owner</h6>
      <input [formControl]="cntSectionFmControls.OwnerSelect"
             [fieldSize]="'tiny'"
             id="cnt_owner"
             nbInput
             type="text"
             placeholder="Enter value"
             [nbAutocomplete]="autoOWner"/>
      <nb-autocomplete #autoOWner>
        <nb-option *ngFor="let human of humanResource" [value]="human.Title">
          {{ human.Title }}
        </nb-option>
      </nb-autocomplete>
    </label>
    <label for="cnt_manager" class="inputLabel">
      <h6>Manager</h6>
      <input [formControl]="cntSectionFmControls.ManagerSelect"
             [fieldSize]="'tiny'"
             id="cnt_manager"
             nbInput
             type="text"
             placeholder="Enter value"
             [nbAutocomplete]="autoManager"/>
      <nb-autocomplete #autoManager>
        <nb-option *ngFor="let human of humanResource" [value]="human.Title">
          {{ human.Title }}
        </nb-option>
      </nb-autocomplete>
    </label>
    <label for="cnt_lead" class="inputLabel">
      <h6>Lead</h6>
      <input [formControl]="cntSectionFmControls.LeadSelect"
             [fieldSize]="'tiny'"
             id="cnt_lead"
             nbInput
             type="text"
             placeholder="Enter value"
             [nbAutocomplete]="autoLead"/>
      <nb-autocomplete #autoLead>
        <nb-option *ngFor="let human of humanResource" [value]="human.Title">
          {{ human.Title }}
        </nb-option>
      </nb-autocomplete>
    </label>
    <label for="cnt_priorityGr" class="inputLabel">
      <h6>Priority  Group</h6>
      <input [formControl]="cntSectionFmControls.PriorityGrSelect"
             [fieldSize]="'tiny'"
             id="cnt_priorityGr"
             nbInput
             type="text"
             placeholder="Enter value"
             [nbAutocomplete]="autoPriorityGr"/>
      <nb-autocomplete #autoPriorityGr>
        <nb-option *ngFor="let group of priorityGroup" [value]="group">{{group}}</nb-option>
      </nb-autocomplete>
    </label>
    <label for="cnt_prioritySubGr" class="inputLabel">
      <h6>Priority Sub  Group</h6>
      <input [formControl]="cntSectionFmControls.PrioritySubGrSelect"
             [fieldSize]="'tiny'"
             id="cnt_prioritySubGr"
             nbInput
             type="text"
             placeholder="Enter value"
             [nbAutocomplete]="autoPrioritySubGr"/>
      <nb-autocomplete #autoPrioritySubGr>
        <nb-option *ngFor="let group of prioritySubGroup" [value]="group">{{group}}</nb-option>
      </nb-autocomplete>
    </label>
    <label for="cnt_percentComplete" class="inputLabel">
      <h6>Percent Complete</h6>
      <input id="cnt_percentComplete"
             type="text"
             nbInput
             [formControl]="cntSectionFmControls.PercentComplete"
             [fieldSize]="'tiny'">
      <span>%</span>
    </label>
    <label for="cnt_status" class="inputLabel">
      <h6>Status</h6>
      <input id="cnt_status"
             type="text"
             nbInput
             [nbAutocomplete]="autoStatus"
             [formControl]="cntSectionFmControls.StatusSelect"
             [fieldSize]="'tiny'">

      <nb-autocomplete #autoStatus>
        <nb-option *ngFor="let st of status" [value]="st.Title">{{st.Title}}</nb-option>
      </nb-autocomplete>
    </label>
    <label for="cnt_statusReason" class="inputLabel">
      <h6>Status Reason</h6>
      <input id="cnt_statusReason"
             type="text"
             nbInput
             [nbAutocomplete]="autoStatusReason"
             [formControl]="cntSectionFmControls.StatusReasonSelect"
             [fieldSize]="'tiny'">

      <nb-autocomplete #autoStatusReason>
        <nb-option *ngFor="let stR of statusReason" [value]="stR.Title">{{stR.Title}}</nb-option>
      </nb-autocomplete>
    </label>

  </div>
</section>

