<label [for]="labelFor" class="inputLabel">
  <h6> {{title}}</h6>
  <ng-container *ngIf="filteredOptions$ | async as options;else inputTemplate">
    <div class="input-wrapper">
      <input [formControl]="fmControl"
             [fieldSize]="'tiny'"
             (focusin)="onFirstInput()"
             (focusout)="onFocusout()"
             (input)="onInput()"
             (change)="onChange()"
             [id]="labelFor"
             #autoInput
             nbInput
             fullWidth
             type="text"
             placeholder="Enter value"
             [nbAutocomplete]="auto"/>
      <span class="select_chevron" [ngClass]="{'closed': closeState,'opened':!closeState}"></span>
    </div>


    <nb-autocomplete  #auto (selectedChange)="onSelectionChange($event)">
      <nb-option *ngFor="let item of options" [value]="item['Title'] || item">
        {{ item['Title'] || item}}
      </nb-option>
    </nb-autocomplete>
  </ng-container>
  <ng-template #inputTemplate>
    <div class="input-wrapper">


    <input [formControl]="fmControl"
           [fieldSize]="'tiny'"
           (change)="onChange()"
           [id]="labelFor"
           nbInput
           type="text"
           placeholder="Enter value"/>
    <span>%</span>
    </div>
  </ng-template>

</label>
