<label [for]="labelFor" class="inputLabel">
  <div class="input-title">
    <h6>{{title}}</h6>
<!--    <button *ngIf="addItemState"-->
<!--            (click)="onAddNewItem()"-->
<!--            nbTooltip="{{tooltip}}"-->
<!--            class="addBtn"-->
<!--            type="button">-->
<!--      <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">-->
<!--        <rect width="9" height="9" rx="4.5" fill="#71CEFF"/>-->
<!--        <path d="M4.18146 6.60227V2.85227H4.81783V6.60227H4.18146ZM2.62464 5.04545V4.40909H6.37465V5.04545H2.62464Z" fill="white"/>-->
<!--      </svg>-->
<!--    </button>-->
  </div>

<!--  <ng-container *ngIf="filteredOptions$ | async as options;else inputTemplate">-->
    <div class="input-wrapper">
      <input [formControl]="fmControl"
             [fieldSize]="'tiny'"
             (click)="onInputClick()"
             (focusin)="onFocusIn()"
             (focusout)="onFocusout()"
             (input)="onInput()"
             (change)="onChange()"
             [id]="labelFor"
             #autoInput
             nbInput
             fullWidth
             type="text"
             placeholder="Enter value"
             [nbAutocomplete]="optionList"/>
      <span class="select_chevron" [ngClass]="{'closed': closeState,'opened':!closeState}"></span>

    </div>
    <nb-autocomplete  #optionList (selectedChange)="onSelectionChange($event)">
      <nb-option *ngFor="let item of filteredOptions$ | async;trackBy:trackBy" [value]="item['Title'] || item">
        {{ item['Title'] || item}}
      </nb-option>
      <nb-option *ngIf="addItemState"
                 class="addOption"
                 (click)="onAddNewItem($event)"
                 [value]="newItemModel">Add {{newItemModel}}...</nb-option>
      <nb-option *ngIf="lastOption" [value]="lastOption.Title">{{lastOption.Title}}</nb-option>
    </nb-autocomplete>
<!--  </ng-container>-->

<!--  <ng-template #inputTemplate>-->
<!--    <div class="input-wrapper">-->
<!--    <input [formControl]="fmControl"-->
<!--           [fieldSize]="'tiny'"-->
<!--           (change)="onChange()"-->
<!--           [id]="labelFor"-->
<!--           nbInput-->
<!--           type="text"-->
<!--           placeholder="Enter value"/>-->
<!--      <span class="select_chevron" [ngClass]="{'closed': closeState,'opened':!closeState}"></span>-->
<!--&lt;!&ndash;    <span>%</span>&ndash;&gt;-->
<!--    </div>-->
<!--  </ng-template>-->

</label>
