
<header>
  <div class="title">
    <h2 id="divSMMID">{{smmId}}</h2>
    <div class="prjTitle">
      <h3  id="lblCHPath">{{title}}</h3>
      <h3  id="lblFullTitle">{{prjTitle}}</h3>
    </div>
  </div>
  <div class="timer">
    <div class="timer_show">
      <p>Timer :</p>
<!--      <input type="number"  id="txtTimerHours" class="hours" value="00">-->
<!--      <span>:</span>-->
<!--      <input type="number"  id="txtTimerMinutes" class="min" value="00">-->
<!--      <span>:</span>-->
<!--      <input type="number"  id="txtTimerSeconds" class="sec" value="00">-->
      <cd-timer format="hms" #timer></cd-timer>
    </div>


    <div class="timer_cnt">
      <button  type="button"
               class="t_start"
              (click)="timerResume()">
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 384 512">
          <path fill="currentColor"
                d="M361 215C375.3 223.8 384 239.3 384 256C384 272.7 375.3 288.2 361 296.1L73.03 472.1C58.21 482 39.66 482.4 24.52 473.9C9.377 465.4 0 449.4 0 432V80C0 62.64 9.377 46.63 24.52 38.13C39.66 29.64 58.21 29.99 73.03 39.04L361 215z">
          </path>
        </svg>
      </button>
      <button  type="button"
               class="t_stop"
              (click)="timerStop()">
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 320 512">
          <path fill="currentColor"
                d="M272 63.1l-32 0c-26.51 0-48 21.49-48 47.1v288c0 26.51 21.49 48 48 48L272 448c26.51 0 48-21.49 48-48v-288C320 85.49 298.5 63.1 272 63.1zM80 63.1l-32 0c-26.51 0-48 21.49-48 48v288C0 426.5 21.49 448 48 448l32 0c26.51 0 48-21.49 48-48v-288C128 85.49 106.5 63.1 80 63.1z">
          </path>
        </svg>
      </button>
      <button  type="button" class="t_reset" (click)="timerReset()">Reset</button>
    </div>
  </div>



  <div class="cnt_btn">
    <a [href]='exitLink'>Exit</a>
  </div>
</header>
