<label for="{{labelfor}}"
       class="inputLabel"
       nbTooltip="{{tooltip}}"
       [nbTooltipDisabled]="!(!!tooltip)">
  <div class="input-box">
      <h6 class="label-title" *ngIf="title">{{title}}</h6>
      <input [id]="labelfor"
             [formControl]="inputControl"
             [fieldSize]="'tiny'"
             (focusin)="onFirstInput()"
             (change)="onFieldChange()"
             placeholder="mm-dd-yyyy"
             nbInput
             #dateInput
             [nbDatepicker]="datepicker">
  </div>


      <nb-datepicker  #datepicker (dateChange)="onDateChange($event)"></nb-datepicker>
      <nb-icon icon="calendar"
               pack="datepicker"></nb-icon>
</label>
