<section>
  <div class="sec_title">
    <h4>Title</h4>
  </div>

  <div class="sec_content">
    <div class="title_input_wrap">
      <app-input-ui (output)="onOutputChange($event)"
                    (onInputStart)="inputStart($event)"
                    [dataType]="'ProjectTitle'"
                    [initialValue]="titleValue"
                    (duringInput)="onTitleInput($event)"
                    [labelFor]="'ProjectTitle'"></app-input-ui>
      <p class="input-warning" *ngIf="warningMessage">
        Title maximum lenght: {{titleMaxLength}}
        <br>
        Current length: {{titleCurrentLength}}
      </p>
     </div>

  </div>


</section>
