@import "../../../../assets/scss/link";




section{
  .sec_content{
    .title_input_wrap{
      @include size(100%, 100%);
      @include flex(start);
      position: relative;
      gap: 1rem;
      app-input-ui{width: 80%}

      .input-warning{
        color: #ff0000;
        font-size: 14px;
        font-weight: 700;
      }
    }


  }
}
