@import "../../../../assets/scss/link";




section{
  .sec_content{
    .title_input_wrap{
      @include size(100%, 80%);
      @include flex(center);
      position: relative;
    }
    //input{
    //  @include fm_input;
    //  &:hover{
    //    border: 1px solid #d0d0d0;
    //  }
    //  &.warning{
    //    border: 2px solid #ff0000;
    //  }
    //
    //}
    app-input-ui{width: 100%}
  }
}
