<section>
  <div class="sec_title">
    <h4>Title</h4>
  </div>

  <div class="sec_content">
<!--    <div class="title_input_wrap">-->
<!--      <input type="text"-->
<!--             data-type="ProjectTitle"-->
<!--             nbInput-->
<!--             (change)="onChange()"-->
<!--             [ngModel]="titleValue"-->
<!--             (ngModelChange)="onTitleInput($event)">-->
<!--    </div>-->
<!--    <p id="titleWarning" class="input-warning"></p>-->
    <app-input-ui (output)="onOutputChange($event)"
                  (onInputStart)="inputStart($event)"
                  [dataType]="'ProjectTitle'"
                  [initialValue]="titleValue"
                  [labelFor]="'ProjectTitle'"></app-input-ui>
  </div>



</section>
