<section class="tabs-section">

  <div class="dates">
    <h5 class="label-title">Dates:</h5>
    <app-datepicker [for]="'dueDates'"></app-datepicker>
    <app-datepicker [for]="'commitDate'"></app-datepicker>
    <app-datepicker [for]="'prjStartDate'"></app-datepicker>
    <app-datepicker [for]="'completionDate'"></app-datepicker>
    <app-datepicker [for]="'currentStsdat'"></app-datepicker>
  </div>

  <label for="highLvlGoal">
    <h5 class="label-title">High Level Goal:</h5>
    <input id='highLvlGoal' nbInput  type="text">
  </label>

  <label for="acceptanceCriteria">
    <h5 class="label-title">Acceptance Criteria:</h5>
    <input id='acceptanceCriteria' nbInput  type="text">
  </label>

  <label for="buisinessBenefit">
    <h5 class="label-title">Business Benefit:</h5>
    <input id='buisinessBenefit' nbInput  type="text">
  </label>

  <label for="internalStatus">
    <h5 class="label-title">Internal Status:</h5>
    <input id='internalStatus' nbInput  type="text">
  </label>

  <label for="externalStatus">
    <h5 class="label-title">External Status:</h5>
    <input id='externalStatus' nbInput  type="text">
  </label>





</section>
