<section class="tabs-section">

  <div class="dates">
    <h5 class="dates-title">Dates:</h5>

    <div class="dates-content">
      <app-datepicker [labelfor]="'dueDates'"
                      [title]="'Due Date'"
                      [inputControl]="fmControls.due_date"
                      (onInputStart)="inputStart($event)"
                      (output)="onOutputChange($event)"
                      [dataType]="dataTypes.due_date"></app-datepicker>
      <app-datepicker [labelfor]="'commitDate'"
                      [inputControl]="fmControls.commit_date"
                      (output)="onOutputChange($event)"
                      [title]="'Commit Date'"
                      (onInputStart)="inputStart($event)"
                      [dataType]="dataTypes.commit_date"></app-datepicker>
      <app-datepicker [labelfor]="'prjStartDate'"
                      [inputControl]="fmControls.project_start_date"
                      (output)="onOutputChange($event)"
                      [title]="'Project Start Date'"
                      (onInputStart)="inputStart($event)"
                      [dataType]="dataTypes.project_start_date"></app-datepicker>
      <app-datepicker [labelfor]="'completionDate'"
                      [inputControl]="fmControls.completion_date"
                      (output)="onOutputChange($event)"
                      [title]="'Completion Date'"
                      (onInputStart)="inputStart($event)"
                      [dataType]="dataTypes.completion_date"></app-datepicker>
      <app-datepicker [labelfor]="'currentStsdat'"
                      [inputControl]="fmControls.current_sts_date"
                      [title]="'Current Status Date'"
                      (onInputStart)="inputStart($event)"
                      (output)="onOutputChange($event)"
                      [dataType]="dataTypes.current_sts_date"></app-datepicker>
    </div>

    <button nbButton
            outline
            status="primary"
            size="small"
            shape="rectangle"
            (click)="resetDates()">Reset Dates</button>
  </div>

  <app-input-ui [title]="'High Level Goal:'"
                (output)="onOutputChange($event)"
                (onInputStart)="inputStart($event)"
                [dataType]="dataTypes.highLvLGoal"
                [initialValue]="formData.ProjectHighLevelGoal"
                [labelFor]="'highLvlGoal'"></app-input-ui>

  <app-input-ui [title]="'Acceptance Criteria:'"
                (output)="onOutputChange($event)"
                (onInputStart)="inputStart($event)"
                [dataType]="dataTypes.acceptanceCriteria"
                [initialValue]="formData.AcceptanceCriteria"
                [labelFor]="'acceptanceCriteria'"></app-input-ui>

  <app-input-ui [title]="'Business Benefit:'"
                (output)="onOutputChange($event)"
                (onInputStart)="inputStart($event)"
                [dataType]="dataTypes.businessBenefit"
                [initialValue]="formData.BusinessBenefit"
                [labelFor]="'buisinessBenefit'"></app-input-ui>

  <app-input-ui [title]="'Internal Status:'"
                (output)="onOutputChange($event)"
                (onInputStart)="inputStart($event)"
                [dataType]="dataTypes.internalSts"
                [initialValue]="formData.Current_x0020_Status"
                [labelFor]="'internalStatus'"></app-input-ui>

  <app-input-ui [title]="'External Status:'"
                (output)="onOutputChange($event)"
                (onInputStart)="inputStart($event)"
                [dataType]="dataTypes.externalSts"
                [initialValue]="formData.External_x0020_Status"
                [labelFor]="'externalStatus'"></app-input-ui>

</section>
