<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
    <app-header [prjTitle]="formData.form.ProjectTitle"
                [title]="calcProjectTitle()"
                [smmId]="formData.form.SMM00000Calculated">
    </app-header>
    <app-fm-title [titleValue]="formData.form.ProjectTitle"
                  (titleInput)="onTitleInput($event)"></app-fm-title>
    <app-fm-control (output)="onSectionValueChange($event)"
                    [cntSectionFmControls] = cntSectionFmControls
                    [humanResource]="formData.prjHumanRecource"
                    [status]="formData.status"
                    [statusReason]="formData.statusReason"
                    [organizations]="formData.organizations"
                    [formData]="formData.form"></app-fm-control>
    <div class="wrapper">
      <app-fm-area
                   [areaPathList]="formData.chAreaPath"
                   [labelFor]="'area_searchScope'"
                   [listName]="'CHAreaPaths'"
                   [searchScope]="areaSearchScope"
                   [areaFmControl]="form.controls.areaInputFmControl"
                   [organizations]="formData.organizations"></app-fm-area>


      <app-fm-tags [status]="'basic'"
                   [labelFor]="'tags_searchScope'"
                   [listName]="'ProjectTags'"
                   [dataTypes]="{ids:'TagIds', value:'Tags'}"
                   [initialValues]="{ids:formData.form.TagIds , members: formData.form.Tags}"
                   [taglist]="formData.projectTags"
                   [sectionTitle]="'Tags'"
                   [organizations]="formData.organizations"
                   [searchScope]="tagSearchScope"></app-fm-tags>
    </div>
    <div class="wrapper">
      <app-fm-tags [taglist]="formData.projectReviewContextTags"
                   [labelFor]="'reviewContextTags_searchScope'"
                   [listName]="'ProjectReviewContextTags'"
                   [dataTypes]="{ids:'ReviewContextTagsIds', value:'ReviewContextTags'}"
                   [initialValues]="{ids:formData.form.ReviewContextTagsIds, members:formData.form.ReviewContextTags}"
                   [status]="'success'"
                   [searchScope]="revieContextSearchScope"
                   [sectionTitle]="'Review Context'"
                   [organizations]="formData.organizations"></app-fm-tags>
      <app-fm-review-frequency ></app-fm-review-frequency>
    </div>
    <app-fm-tags [taglist]="formData.prjHumanRecource"
                 [labelFor]="'team_searchScope'"
                 [listName]="'ProjectHumanResources'"
                 [dataTypes]="{ids:'TeamMembersIds', value:'TeamMembers'}"
                 [initialValues]="{ids:formData.form.TeamMembersIds, members:formData.form.TeamMembers}"
                 [status]="'warning'"
                 [sectionTitle]="'Team'"
                 [searchScope]="teamSearchScope"
                 [organizations]="formData.organizations"></app-fm-tags>
    <div class="wrapper">
      <app-fm-tags [taglist]="formData.prjHumanRecource"
                   [labelFor]="'stakeholder_searchScope'"
                   [listName]="'ProjectHumanResources'"
                   [dataTypes]="{ids:'StakeholderMembersIds', value:'StakeholderMembers'}"
                   [initialValues]="{ids:formData.form.StakeholderMembersIds, members:formData.form.StakeholderMembers}"
                   [status]="'danger'"
                   [sectionTitle]="'Stakeholder'"
                   [searchScope]="stakeholdeSearchScope"
                   [organizations]="formData.organizations"></app-fm-tags>

      <app-fm-tags [taglist]="formData.prjHumanRecource"
                   [labelFor]="'notification_searchScope'"
                   [listName]="'ProjectHumanResources'"
                   [dataTypes]="{ids:'NotificationMembersIds', value:'NotificationMembers'}"
                   [initialValues]="{ids:formData.form.NotificationMembersIds, members:formData.form.NotificationMembers}"
                   [status]="'info'"
                   [sectionTitle]="'Notifications'"
                   [searchScope]="notificationsSearchScope"
                   [organizations]="formData.organizations"></app-fm-tags>
    </div>
    <nav>
      <ul>
        <li *ngFor="let tab of tabs;index as i;trackBy:trackTab"
            [class]="{'active': tab.active}"
            (click)="tabsHandler(i)"> {{tab.name}}</li>
      </ul>
    </nav>
    <div class="tabs-content" [ngSwitch]="tabType">
      <app-general *ngSwitchCase="'General'"
                   [fmControls]="generalTabFmControls"
                   [formData]="formData.form"></app-general>

      <app-area-tools *ngSwitchCase="'Area Tools'"></app-area-tools>
      <app-notes *ngSwitchCase="'Notes'"></app-notes>
      <app-audio-log *ngSwitchCase="'Audio Log'"></app-audio-log>
      <app-tasks *ngSwitchCase="'Tasks'"></app-tasks>
      <app-links *ngSwitchCase="'Links'"></app-links>
      <app-files *ngSwitchCase="'Files'"></app-files>
      <app-security *ngSwitchCase="'Security'" [humanResource]="formData.humanResource"></app-security>
      <app-time *ngSwitchCase="'Time'"></app-time>
      <app-auto-text *ngSwitchCase="'Auto Text'"
                      [fmControls]="autoTextTabFmControls"
                      [formData]="formData.form"></app-auto-text>
    </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>



