@import "../../../../assets/scss/link";




section{
  position: relative;
  .disabled-overlay{
    @include square(100%);
    position: absolute;
    background-color: $disabled;
    opacity: .7;
    z-index: 9999;
    pointer-events: none;
  }
}


