<section>
  <div class="sec_title">
    <h4>{{sectionTitle}}</h4>
  </div>
  <div class="sec_content">
    <app-searchable-dropdown class="mediumField"
                             [dataType]="labelFor"
                             (output)="onSearchScopeChange($event)"
                             [fmControl]="searchScope"
                             [labelFor]="labelFor"
                             [title]="'Search Scope'"
                             [dropdownList]="organizations"></app-searchable-dropdown>

    <app-tag-ui class="tags"
                (output)="onTagValueChange($event)"
                [initialValues]="initialValues"
                [status]="status"
                [taglist]="$taglistItems | async"></app-tag-ui>

  </div>
</section>
