@import "./assets/scss/link";






*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
svg{
  width: 100%;
  height: 100%;
}
input:focus{
  outline: none;
}


section{
     @include flex(between);
     @include min-size($section-min-height, 100%);
     align-items: stretch;
     border-bottom: $section-border;
     .sec_title{
       @include flex(center);
       background-color: $sec_title_bg_color;
       width: $sec_title_min-width;
       h4{
         text-align: center;
         font-size: 12px;
         font-weight: 700;
         color: $black;
         margin: 0;
         line-height: normal;
       }
     }
     .sec_content {
      @include flex(start);
      align-items: flex-end;
      min-height: $section-min-height;
      width:  calc(100% - $sec_title_min-width) ;
      padding: 5px;

      }
  &.tabs-section{
    flex-direction: column;
    border-radius: 8px;
    background-color: #f1f1f1;
    border: 1px solid #aaa;
    padding: 0 $space-4;
    label{
      @include flex(start);
      width: 100%;
      margin:$space-4 0;
      input{
        width: calc(100% - 157px);
        max-width: unset!important;
      }
    }
    .label-title{
      color: #000;
      font-weight: 700;
      font-size: 13px;
      font-family: "Verdana",sans-serif;
      margin: 0 1em 0 0;
      width: 157px;
      text-align: end;
      white-space: nowrap;
    }
    .dates{
      @include flex(start);
      width: 100%;
      margin:$space-4 0;
      label{
        display: block;
        input{
          //width: 100%;
        }

      }
    }
  }
}


.rootEl{
  padding: 2px;
}

.wrapper{
  @include flex(start);
  & > * {
    flex: 1;
    &:nth-child(2){
      section{border-left: $section-border;}
    }

  }
}

.tinyField{ width: $w-tiny}
.smallField{ width: $w-small}
.mediumField{ width: $w-mediium}
.largeField{ width: $w-large}
