@import "./assets/scss/link";




html, body{
  overflow: auto;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
svg{
  width: 100%;
  height: 100%;
}
input:focus{
  outline: none;
}


section{
     @include flex(between);
     @include min-size($section-min-height, 100%);
     height: 100%;
     align-items: stretch;
     border-bottom: $section-border;
     .sec_title{
       @include flex(center);
       background-color: $sec_title_bg_color;
       width: $sec_title_min-width;
       h4{
         text-align: center;
         font-size: 12px;
         font-weight: 700;
         color: $black;
         margin: 0;
         line-height: normal;
       }
     }
     .sec_content {
      @include flex(between);
      min-height: $section-min-height;
      width:  calc(100% - $sec_title_min-width) ;
      padding: 5px;

      }
  //TODO need to rewright
  &.tabs-section{
    flex-direction: column;
    border-radius: 8px;
    background-color: #f1f1f1;
    border: 1px solid #aaa;
    padding: $space-4;
    gap: $space-4;

  }
}


.rootEl{
  padding: 2px;
  min-width: 1600px;
}

.wrapper{
  @include flex(start);
  align-items: stretch;
  & > * {
    flex: 1;
    &:nth-child(2){
      section{border-left: $section-border;}
    }

  }
}

.tinyField{ width: $w-tiny}
.smallField{ width: $w-small}
.mediumField{ width: $w-mediium}
.largeField{ width: $w-large}
.maxField{ width:$w-max }
.areaField{
  width: calc(100% - $w-mediium);
  .inputLabel{
    padding: 0!important;
  }

}
.tags{width: calc(100% - $w-mediium)}

