<section>
  <div class="sec_title">
    <h4>Area</h4>
  </div>

  <div class="sec_content">
    <app-searchable-dropdown class="mediumField"
                             [fmControl]="searchScope"
                             [labelFor]="labelFor"
                             [title]="'Search Scope'"
                             (output)="onSearchScopeChange($event)"
                             [lastOption]="searchScopeLastOption"
                             [dropdownList]="organizations"></app-searchable-dropdown>


    <app-searchable-dropdown class="areaField"
                             [dataType]="CHAreaPath"
                             (output)="onFieldChange($event)"
                             [fmControl]="areaFmControl"
                             [labelFor]="'areaPath'"
                             [title]="'Area'"
                             [dropdownList]="$areaListItems | async"></app-searchable-dropdown>
  </div>
</section>
